
@import 'variables';

.app-container {
    display:flex;
    flex-direction: column;
    justify-content: center;

}


.logo-group {
    width: 300px;
    display:grid;
    justify-items: center;
    align-items: flex;
    flex-direction: column;
    grid-row-gap:-50px;
    align-self: center;
    margin-top: 20px;


}

.logohead {
    background-color: aqua;
    display:grid;
    align-self: center;
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 10px 5px black;
    grid-column: 1/span 1;
    grid-row: 1/span 1;

  }


  h1 {
      width:300px;
      text-align: center;
      font-size: 1.75rem;
      margin-top: 10px;
      grid-column: 1/span 3;
      grid-row: 1/span 1

  }
  p {

      width: 200px;
      font-size: 1rem;
      margin: 0;
      margin-top: 60px;
        text-align: center;
      grid-column: 1/span 3;
      grid-row: 1/span 1;
  }

  .mainoptions {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 50px;
      align-self: center;
      width: 300px;
  }

  .option {
      display:flex;
      justify-content: space-between;
      width: 350px;
  }
 
  .hello {
      width: 200px;
  }

  span {
    font-size: 1.25rem;
    padding: 10px;

}


  a {
      font-size: 1rem;
      text-decoration: none;
      color: black;
      background-color: $button;
      width: 100px;
      text-align: center;
      padding: 10px;
      border: 1px solid black;
  }



